/* LETTERS */
.letters {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color: #333;
    border: 1px solid #cccccc90;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.3);
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    text-transform: uppercase;
    font-family: "Montserrat SemiBold";
    transition: 0.1s ease;
    cursor: pointer;
    outline: none;
}

.letters:hover {
  background-color: rgb(241, 241, 241);
  box-shadow: 3px 3px 0px rgba(0,0,0,0.3);
  color: #444;
}

.letters:active {
  box-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}

.letters:disabled {
  color: #222;
  background-color: #ccc;
  box-shadow: 3px 3px 0px rgba(0,0,0,0.4);
} 
.letters:disabled:hover {
  background-color: #ccc;
}

@media (max-width: 500px) {
  .letters {
    width: 40px;
    height: 40px;
    padding: 0px;
  }
}