.App {
  background-color: #f5f5f5;
  font-family: "Montserrat Regular";
}

/* LETTERS CONTAINER */
.letterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 650px;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


